
Assignments/HW3/.idea/workspace.xml
*.pyc
*.xml
*.xml
*.iml
*.xml
Assignments/HW3/.idea/workspace.xml
Assignments/HW9/digits_Test_output.txt
Assignments/HW9/digits_Validation_output.txt
Assignments/HW9/iris_Test_output.txt
Assignments/HW9/iris_Validation_output.txt
